language: node_js
node_js:
  - "10"
cache: 
  yarn: true
  directories:
    - node_modules
before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s
  - export PATH="$HOME/.yarn/bin:$PATH"
install:
  - yarn
script: yarn run export
before_deploy: cp .nojekyll out/.nojekyll
deploy:
  provider: pages
  skip-cleanup: true
  local-dir: ./out
  github-token: $GITHUB_TOKEN  # Set in the settings page of your repository, as a secure variable
  email: deploy@travis-ci.org
  name: Deployment Bot
  fqdn: cpd.weareconvivio.com
  keep-history: true
  on:
    branch: master